<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" type = "text/css" href = "app.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.6/lottie.js"></script>
    <script src="js/lib/lottie-api.js"></script>
</head>

<body>
    <div id="dropbox">drop area</div>
    <input type="file" id="input">

    <div id="animation-player">
        <div id="canvas"></div>
        <div class="player-controls" v-if="animation">
            <button id="pause" @click="pause"
                v-bind:class="{ paused: paused }">
                    {{ paused ? "&#9654;" : "	&#9208;" }}
            </button>
            <input id="playback-range" type="range" min="0" step="0.1"
                v-bind:value="currentFrame"
                v-bind:max="frames"
                @input="onRangeInput($event)">
            <span>{{ Math.floor(currentFrame * 10) / 10 }}</span>
        </div>
    </div>

    <div id="animation-tree">
        <div v-if="animation">
            <h4>Properties</h4>
            <div>Width: {{animation.w}}, Heigh: {{animation.h}}, Length: {{animation.op}}, Framerate: {{animation.fr}}</div>
        </div>
        <div v-if="animation && animation.layers">
            <h4>Layers</h4>
            <div>
                <lottie-layer v-for="layer in animation.layers"
                    v-bind:layer="layer"
                    v-bind:key="layer.ind"
                    v-bind:callbacks="true"></lottie-layer>
            </div>
        </div>
        <div v-if="animation && animation.assets">
            <h4>Assets</h4>
            <div>
                <div v-for="asset in animation.assets" v-bind:key="asset.id">
                    <div><span>Asset id: </span><span>{{asset.id}}</span></div>
                    <lottie-layer v-for="layer in asset.layers" v-bind:layer="layer" v-bind:key="layer.ind"></lottie-layer>
                </div>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>